    </main>
    <footer>
      <section class="main">
        <p>Bottom nav content goes here</p>
      </section>
      <section class="nav">
        <p>Made with ❤️️ by Samantha Randolph</p>
        <p>© <%= year %></p>
      </section>
    </footer>
    <div id="js-imports">
      <% "TODO: add Javascript" %>
      <script type="text/javascript" src="js/main.js"></script>
    </div>
  </body>
</html>

