<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="utf-8" http-equiv="encoding" />
    <link href="css/style.css" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <section class="title">
        <h1>Samantha Randolph</h1>
        <p>Educator, Writer, Feminist</p>
      </section>
      <nav class="menu">
        <ul>
          <% "TODO: refactor this to have a > li for styling" %>
          <li><a href="/">Home</a></li>
          <li>
            <a href="/tutoring">Tutoring</a>
            <span class="icon"></span>
            <ul class="sub-menu">
                <li><a href="/tutoring">My Approach</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/testimonials">Testimonials</a></li>
                <li><a href="/booking">Book Now</a></li>
            </ul>
          </li>
          <li>
            <a href="/courses">Courses</a>
            <span class="icon"></span>
            <ul class="sub-menu">
                <li><a href="/courses">Overview</a></li>
                <li><a href="/coding">Computer Science</a></li>
                <li><a href="/english">English</a></li>
            </ul>
          </li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
